:root{
    --mainc-black-color:#1d1d1d;
    --main-black-color2:#242424;
    --main-black-color3:#161616;
    --gray-color:#ececec;
    --blue-color:#3c7cfa;
    --top-news-background-color:#f9f9f9;
    --subscribe-button-color:#263070;
    --footer-font-color:#8e8e8e;
}

.hide-text{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.unit-link{
    position: absolute;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  header{
    padding: 25px 52px;
    border-bottom: rgb(208, 208, 208) 1px solid;
    box-shadow: 0px 4px 4px #00000010;
    box-sizing: border-box;
    transition: 1s;
    height: 95px;
    overflow: hidden;
  }

  .active{
    height: 280px;
  }

  .header-container {
    display: flex;
    position: relative;
    justify-content: center;
    height: 46px;
  }

  h1 {
    position: absolute;
    left: 0;
  }

  .big-rogo {
    width: 159px;
    height: 46px;
}

  .small-logo {
    width: 257px;
    height: 22px;
    display: none;
  }

  header  svg {
    height: 46px;
  }

  .header-name-wrapper{
    padding-top: 12px;
    display: flex;
    gap: 100px;
  }

  .header-nav > li {
    text-align: center;
  }

  .header-name-wrapper a {
      color: var(--mainc-black-color);
      font-size: 18px;
      font-weight: 600;
  }

  .header-name-wrapper > li > a::after{
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #232323;
    transition: 1s;
    margin-top: 8px;
  }

  .nav-inner > li{
    margin-bottom: 16px;
  }

  .header-name-wrapper > li > a:hover::after {
    width: 100%;
  }

  .nav-inner {
    display: none;
    text-align: left;
    margin-top: 24px;
  }
  
  .nav-inner > li > a {
    color: #343434;
    font-size: 15px;
    font-weight: bold;
  }

  .active .nav-inner {
    display: block;
  }

  .icon-wrapper{
    display: flex;
    gap: 8px;
  }

  .icon-wrapper svg {
    width: 28px;
    height: 28px;
  }

  .sns-icon {
    display: block;
    width: 28px;
    height: 28px;
    transition: 0.5s;
  }

  .sns-icon:hover {
    opacity: 0.5;
}

  header nav {
    display: flex;
  }

  .search-container > svg {
    border-radius: 50%;
    transition: all 0.5s;
    box-shadow: 0px 4px 4px #00000000;
  }

  .search-container > svg:hover {
    box-shadow: 0px 4px 4px #00000040;
  }

  .mail-lang-wrapper{
    display: none;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 44px;
  }

  #subcribe-newsroom {
    width: 106px;
  }

  .hamburger::after , .hamburger::before{
    display: none;
    flex-direction: column;
    margin: 10px;
    content: '';
    width: 32.63px;
    height: 3px;
    background-color: var(--main-black-color3);
  }

  main{
    padding-top: 64px;
  }

  #slide-banner{
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 64px;
  }
  
  .main-wrapper{
    display: flex;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
    width:1200px;
    max-height: 400px;
    box-shadow: 0px 8px 18px 0px rgb(91, 91, 91, 0.14);
    margin: 0 auto;
  }

  .slide-banner-wrapper{
    margin: 0 auto;
    width:1200px;
    max-height: 400px;
    padding-bottom: 32px;
    position: relative;
  }

  .img-container{
    width: 100%;
    box-sizing: border-box;
  }

  .img-container-wrapper{
    display: flex;
    overflow: hidden;
    width: 600px;
  }

  .img-information{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 32px;
  }

  .img-information-wrapper{
    display: flex;
    overflow: hidden;
    width: 600px;
  }

  .information-wrapper > h3{
    font-size:33px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 16px;
  }
  
  .information-wrapper p{
    font-size: 16px;
    line-height: 24px;
    
  }

  .information-wrapper{
    display: flex;
    flex-direction: column;
    width: 600px;
    flex-shrink: 0;
    padding: 30px;
  }

  .before-img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: 0px 8px 18px 0px rgb(91, 91, 91, 0.14);
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;
  }

  .after-img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: 0px 8px 18px 0px rgb(91, 91, 91, 0.14);
    background-color: #fff;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate(50%, -50%);
    opacity: 80%;
  }

  .navigation-wrapper{
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .navigation-bar{
    width: 26px;
    height: 5px;
    background-color: #424242;
  }

  #news > h2{
    font-size: 32px;
    font-weight: bold;
  }

  



  
  @media screen and (max-width:1420px) {
    #subcribe-newsroom{
      display: none;
    }
  }

  @media screen and (max-width:1240px) {
    /* 패딩 줄어드는거 처리해줄 것. */
    .icon-wrapper{
      display: none;
    }
    .mail-lang-wrapper{
      display: flex;
    }
    
  }

  @media screen and (max-width:1024px){
    .mail-lang-wrapper{
      display: none;
    }
    nav:last-child  a > svg{
      width: 49px;
      height: 49px;
    }
    .header-name-wrapper{
      display: none;
    }

    .hamburger::after , .hamburger::before{
      display: block;
    }
     
    }








  


