:root{
    --mainc-black-color:#1d1d1d;
    --main-black-color2:#242424;
    --main-black-color3:#161616;
    --gray-color:#ececec;
    --blue-color:#3c7cfa;
    --top-news-background-color:#f9f9f9;
    --subscribe-button-color:#263070;
    --footer-font-color:#8e8e8e;
}

.hide-text{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.unit-link{
    position: absolute;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 52px;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px 0px rgb(207, 207, 207);
    border-bottom: #e4e4e4;
  }


  header  svg {
    height: 46px;
  }

  .header-name-wrapper{
    display: flex;
    gap: 32px;
    font-size: 19px;
    font-weight: bold;
    flex-wrap: wrap;
}

.header-name-wrapper a {
      color: var(--mainc-black-color);
  }

  .icon-wrapper{
    display: flex;
    align-items: center;
  }

  .icon-wrapper svg {
    width: 28px;
    height: 28px;
  }

  header nav {
    display: flex;
  }

  .news-rooom-subscribe-button{
    width: 106px;
    height: 34px;
    display: block;
  }

  .news-rooom-subscribe-button > a{
    color: #f9f9f9;
    font-size: 13px;
    font-weight: bold;
  }

  nav{
    display: flex;
    align-items: center;
    gap:16px
  }

  .mail-lang-wrapper{
    display: none;
  }
  
  main{
    padding-top: 64px;
  }

  #slide-banner{
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 64px;
  }
  
  .main-wrapper{
    display: flex;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
    width:1200px;
    max-height: 400px;
    box-shadow: 0px 8px 18px 0px rgb(91, 91, 91, 0.14);
  }

  .slide-banner-wrapper{
    margin: 0 auto;
    width:1200px;
    max-height: 400px;
    position: relative;
    padding-bottom: 32px;
  }

  .img-container{
    width: 100%;
    box-sizing: border-box;
  }

  .img-information{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 32px;
  }

  .information-wrapper > h3{
    font-size:33px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 16px;
  }
  
  .information-wrapper p{
    font-size: 16px;
    line-height: 24px;
    
  }

  .information-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .before-img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: 0px 8px 18px 0px rgb(91, 91, 91, 0.14);
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;
  }

  .after-img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: 0px 8px 18px 0px rgb(91, 91, 91, 0.14);
    background-color: #fff;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate(50%, -50%);
    opacity: 80%;
  }

  .navigation-wrapper{
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .navigation-bar{
    width: 26px;
    height: 5px;
    background-color: #424242;
  }

  #news > h2{
    font-size: 32px;
    font-weight: bold;
  }

  



  
  @media screen and (max-width:1420px) {
    .news-rooom-subscribe-button{
      display: none;
    }
  }

  @media screen and (max-width:1240px) {
    .icon-wrapper{
      display: none;
    }
    .mail-lang-wrapper{
      display: flex;
    }
    
  }

  @media screen and (max-width:1024px){
    .mail-lang-wrapper{
      display: none;
    }
    nav:last-child  a > svg{
      width: 49px;
      height: 49px;
    }
    .header-name-wrapper{
      display: none;
    }
     
    }








  


